html, body {
    margin:0px;
    overflow-x: hidden;
    width: 100%;
}


.container{
    display:flex;
    background-image: url('../../remeras_pantalones.jpg'); 
    background-repeat: repeat;    
    background-size: 200px;        
    background-position: 0 0; 
    min-width: 70vw;
    height: 70vh;
    border: solid black 2px;
    justify-content: center;
    align-items: center;
}

.header {
    display:flex;
    background-color: #000559;
    width: 100%;
    height: 20vh;
    justify-content: space-between;  
    align-items: center;
    padding: 0 20px;                
    box-sizing: border-box;
    overflow: hidden;     
}


.pheader {
    display: flex;
    flex-direction: column; 
    align-content: flex-start;
    align-items: center;   
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    padding: 15px;
}

#caja{
    display: flex;
    border:1.5px solid rgb(24, 240, 255) ;
    border-radius: 15px;
    width: 300px ;
    height: 60vh ;
    background-color:#000559;
    opacity: .8;
    align-items: center; 
    overflow: hidden;  
    
} 


h1, h2, h5{
    
    color:aliceblue;
    display:flex;
}




#c1{
    margin:20px;
    padding: auto;
}

#adm{
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
    background-color: #1b02fff8;
    border: 2px solid black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size:15px;
    font-family:monospace;
}

#adm:hover{
    background:#324e56c2;
    transition-delay: 0.1s;
}

button{
    cursor: pointer;
} 

button:hover {
    background: #324e56c2;
    transition-delay: 0.1s;
}


.footer {
    min-width: 70%;
    text-align: center;
    padding: 10px;
    background-color: #001030;
    color: #aaa;
    font-size: 0.9rem;
}

@media (max-width: 480px) {
    #caja {
        width: 90%;
        height: auto;
        padding: 30px 10px;
    } 
}


