.titulo {
    text-align: center;
    margin: 20px 0;
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.categorias button {
    padding: 10px 15px;
    border: none;
    background: var(--primary);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.grid-productos {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
}

.card {
    background: var(--card);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 5px #0002;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.card button:hover {
    background: #004ec2;
}

.paginacion {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px;
}

.paginacion button {
    padding: 10px 15px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 8px;
}
